
	html
	{
		background-image: url(img/cityhall.jpg);
		margin: 0 auto;
		width: 100%;
		background-attachment: fixed;
		background-size: cover;
		overflow-x:auto; 
		overflow-y:scroll;
	}
    
    #loading 
    {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  width: 150px;
	  height: 150px;
	  /* 1/2 of the height and width of the actual gif */
	  margin: -16px 0 0 -16px;
	  z-index: 100;
	}
	
	#mainBackgroundTable
	{
		width : 1100px;	
		border: 5px solid #1A6680;
		border-radius: 10px;
		font-family: "Times New Roman", Times, serif;
		background-color: #FFF0E0;
		align: center;
		CELLSPACING: 0;
		padding: 0px;
		
		opacity: .97;
	}
	
	#centerDIV
	{
		align: center;
	}
	
	#detailedStatisticsDIV
	{
		padding-left: 5px;
		padding-right: 5px;
		float: left;
	}
	
	#detailedStatisticsTable
	{
		
		width: 825px;
		height: 71px;
		
	}
	
	#quickStatisticsDIV
	{
						
	}
	
	#quickStatisticsTable
	{

		width: 825px; 

	}
	
	#searchProjectsDIV
	{
		float:left;
		padding-left: 5px;
		padding-right:5px;
	}
	
	#searchProjectsTable
	{
		width: 245px;
		height: 100%;
		padding-left: 2px;
		padding-right: 2px;
		padding-bottom: 0px;
		background-color: #FFFAF6;
	}
	
	.searchTitle:hover .descriptionToolBox 
	{
    	display: block;
	}

	.descriptionToolBox 
	{
	    display: none;
	    background: #ffff80;
	    color: black;
	    padding: 10px;
	    position: absolute;
	    z-index: 1000;
	    width:125px;
	    height:40px;
	    border: 1px solid black;
	}
	
	#overallStatisticsDataChartDIV
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 5px;
		
		
	}
	
	#overallStatisticsDataChartTable
	{
		width: 1070px;
		height: 200px;
		
		 
	/*	background-color: #33CCFF;*/
	}
	
	#sampleChartTable
	{
		width: 1070px;
		height: 200px;
	
		
	/*	background-color: #33ffad;*/
	}
	
	#sampleChart2Table
	{
		width: 1070px;
		height: 200px;
		
		
	/*	background-color: pink; */
	}
	
	/* basic positioning */
	.legend { list-style: none; top: 0; margin: 0; padding: 0;}
	.legend li {  margin: 0; padding-bottom: 5px; width: 100%; text-align:left; font-size: 9pt; color: black;}
	.legend ul { margin: 0; padding: 0;}
	.legend span { border: 1px solid #400040; float: left; width: 12px; height: 12px; margin: 0; padding: 0; }

	/* your colors */
	.legend .applicationReceivedKey { background-color: #9933FF; }
	.legend .permitIssuedKey { background-color: #FF0000; }
	
	
	
	
	#averagePermitTimesTableDIV
	{
		float: left;
		padding-left: 5px;
		padding-right: 3px;
		padding-top: 5px;
	}
   	
   	#taskQueueTableDIV
   	{
   		float: left;
   		padding-left: 1px;
   		padding-right: 1px;
   		padding-top: 5px;
   		display: block;
   		
   	}	
   	
   	#messageBoardDIV
   	{
   		float: left;
   		padding-left: 2px;
   		padding-right: 0px;
   		
   		display: block;	
   	}
	
	#messageBoardTable
	{
	    width: 235px;
	    height : 625px;
		overflow-x: auto;
	}
	
	
/*
	#taskUserSplitSpanDiv .taskUserSplitSpanId
	{
		float: left;
	}
*/
	#taskUserSplitSpanId 
	{
/*		visibility: hidden; */
	display: block;
	    background-color: #526652;
	    color: white;
	    padding-left: 3px;
	    padding-top: 2px;
	 
	  /*  position: absolute;
	    z-index: 1000;
	   */ width:100%;
	    height: 100px;
	   
		overflow-y: auto;
	}
	
	#taskAgeForOwnerIndividualSpanId 
	{
		display: block;
	    background-color: #526652;
	    color: white;
	    padding-left: 3px;
	    padding-top: 2px;
		width:100%;
	    height: 100px;
	   
		overflow-y: auto;
	}
	
	#taskAgeForOwnerGroupSpanId
	{
		display: block;
	    background-color: #526652;
	    color: white;
	    padding-left: 3px;
	    padding-top: 2px;
		width:100%;
	    height: 100px;
	   
		overflow-y: auto;
	}
	
	#averagePermitTimesTable
	{
		width: 400px;
		height : 630px;	
		padding-left: 5px;
		padding-right: 5px;
   	}
	
	#taskQueueTable
	{	   
	    width: 425px;
	    height : 630px;
	 	padding-left: 5px;
		padding-right: 2px;
	
	}
	
	#messageBoardTableScrollDIV
   	{
   		height: 100%;
   		overflow-y: auto;
   	}
   	
   	#selfCertAverageTimesDiv
	{
		display: none;
		height: 100%;
		padding-top: 15px;
		width: 100%;
	}
   	
   	#sprNonSelfCertAverageTimesDiv
   	{
   		display: none;
   		height: 100%;
   		padding-top: 15px;
   		width: 100%;
   	}
   	
   	#combinedCertAverageDiv
   	{
   		height : 100%;
   		width: 100%;
   		padding-top: 15px;
		display: block; 		
   	}
   	
   	#ownerTutorialPictureDIV
   	{
   		align:center; 
   		horizontal-align: center;
   		display: block;
   	}
   	
   	#taskCountDiv
   	{
   		padding-top: 15px;
   		height : 100%;
   		width: 100%;
        display: block;
        horizontal-align: center;
   	}
   	
	#taskByAgeDiv
	{
		display: none;
		padding-top: 15px;
   		height: 100%;
		bgcolor: 99CCFF;
	}
	
	#ownerByTaskAgeDiv 
	{
		display: none;
		padding-top: 15px;
   		bgcolor: #99CCFF;
   		height: 100%;
	}
	
	#taskByAgeTable
	{
		background-color: #CCFFCC;
		border: 1px solid black;
	}

	#taskByAgeTable td
	{
		border: 1px solid black;
	}
	
	#ownerByTaskAgeTable
	{
		background-color: #B2FFFF;
		border: 1px solid black;
		width: 100%;
		height: 100%;
		display:column;
	}
	
	#ownerByTaskAgeTable td
	{
		border: 1px solid black;
	}
	
	#ownerByTaskAgeTable th
	{
		border: 1px solid black; 
	}
	
	#ownerByTaskAgeTable thead
	{
		display: inline-block;
    	width: 100%;
    	
		
	}
	
	#ownerByTaskAgeTable tbody
	{
		 height: 480px;
   	 	 display: inline-block;
    	 width: 100%;
    	 overflow-y: auto;
    	 
	}
	
	#taskCountTable
	{
		background-color: #FFFFAD;
		border: 1px solid black;
	}
	
	#taskCountTable td
	{
		border: 1px solid black;
	}
	
	#ownerByTaskAgeTableTHEAD
	{
		
		
		
	}
	
	#ownerByTaskAgeTableTBODY
	{
	
	}
	
	#dateSelectionDIV
	{
		align: center;
	}
	
	#startingDateSelectionDIV
	{
		background-color: white;
	}
	
	#endingDateSelectionDIV
	{
		background-color: white;
	}
	
	#submitDateSelectionDIV
	{
		background-color: white;
	}

